name: Update readme
on:
  push:
    branches: [main]

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - run: yarn

      - name: update readme
        run: yarn update-readme

      - name: commit and push
        run: |
          git config user.name "GitHub Workflow"
          git config user.email "not provided"
          git add README.md
          git commit -m 'Update generated readme section'
          git push origin main
